<a href="https://colab.research.google.com/github/SalZub/ChartJSCore/blob/master/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
%matplotlib inline
df = pd.read_excel('Data shared with IBA June 2020.xlsx')
df.head()

In [0]:
#Convert Gender into Category Data type and encode Gender into 0 - Female; 1 - Male
df["Gender"] = df["Gender"].astype('category')
df["Gender"] = df["Gender"].cat.codes
df.rename(columns={'Deviation Yes or No': 'DEVIATION'}, inplace=True)
df.rename(columns={'Stay (days)': 'STAY'}, inplace=True)

In [0]:
import re
def eliminate_numeric_values(item):
    if isinstance(item, str):
        return item if not re.match(r"^[0-9]+$", item) else pd.NaT
    else:
        return pd.NaT
df['VISIT REASON'] = df['VISIT REASON'].map(eliminate_numeric_values)
df['VISIT REASON'] = df['VISIT REASON'].str.strip()
df['VISIT REASON'] = df['VISIT REASON'].replace('.'," ")
df['VISIT REASON'] = df['VISIT REASON'].replace("?"," ")
df['VISIT REASON'] = df['VISIT REASON'].replace("??"," ")
df['VISIT REASON'] = df['VISIT REASON'].replace("???"," ")
df['VISIT REASON'] = df['VISIT REASON'].replace("????"," ")
df['VISIT REASON'] = df['VISIT REASON'].replace("/"," ")
df['VISIT REASON'] = df['VISIT REASON'].replace("[^A-Za-z\s]+"," ")
#This will do a basic clean up to manage spaces
df.dropna(axis=0,subset=['VISIT REASON'],inplace=True)

In [0]:
#compiling all weird characters
regex = re.compile('[\.!?]')

for i,val in enumerate(df['VISIT REASON']):
    new_val = regex.sub('', val)
    df["VISIT REASON"].replace({val: new_val}, inplace=True)
df[df['VISIT REASON'] == "?pertusis"]

In [0]:
new_df = df.copy()
new_df['VISIT REASON 1'], new_df['VISIT REASON 2'], new_df['VISIT REASON 3'] = new_df['VISIT REASON'].str.split(',', 2).str

In [0]:
new_df.drop(new_df.columns[[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]], inplace = True, axis = 1) 
new_df.columns

In [0]:
new_df=new_df.combine_first(pd.Series(new_df.values.ravel('F')).to_frame('allDiseases'))
new_df.drop(new_df.columns[[0,1,2]], inplace = True, axis = 1) 
new_df
#new_df is now a table of all diseases
#65862

In [0]:
# dropping ALL duplicte values 
new_df=new_df.drop_duplicates(subset ="allDiseases",keep = False, inplace = False,ignore_index=True) 
new_df
#2172

In [0]:
#correct spelling errors 
import sys  
!{sys.executable} -m pip install textblob

In [0]:
new_df.loc[:,('allDiseases')] = new_df.loc[:,('allDiseases')].str.upper() 
new_df.loc[:,('allDiseases')] = new_df.loc[:,('allDiseases')].str.strip() 
new_df=new_df.sort_values(by=['allDiseases'], ascending = True)
# dropping ALL duplicte values 
new_df.drop_duplicates(subset ="allDiseases",keep = False, inplace = True) 
new_df
#1841

In [69]:
import nltk
nltk.download('brown')

[nltk_data] Downloading package brown to /root/nltk_data...
[nltk_data]   Unzipping corpora/brown.zip.

True

In [70]:
from nltk.corpus import brown
word_list = brown.words()
word_set = set(word_list)

# Check if word is in set
"looked" in word_set  # Returns True
"hurrr" in word_set  # Returns False

False

In [0]:
from textblob import TextBlob
newlist = new_df.allDiseases.unique().tolist()
i=0
while True:
    if(i == len(newlist)-1):
      break; 
    else:
      if(fuzz.ratio(newlist[i], newlist[i+1])>90):
        #check which is correct spelling - kept and the other removed
          del newlist[i]
          print(newlist[i+1])
      i=i+1
for j in range(len(newlist)):
  print(newlist[j])

In [95]:
!pip install fuzzywuzzy
from fuzzywuzzy import fuzz

ERROR: Operation cancelled by user

In [96]:
len(newlist)

1797

In [0]:
#iterate through all diseases and make a new table for codes
#correct spelling errors 
#merge all columns 
#sort 
#pick out unique and code
for i in range(len(new_df)):